@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(../fonts/vt323.woff2) format('woff2');
}
#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) 50% 50% no-repeat;
}
#loader p {
    width: 800px;
    text-align: center;
    margin-top: 330px;
}

html, body {
    width: 800px;
    height: 600px;
    overflow: hidden;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    font-family: VT323, monospace;
    text-shadow: #000 1px 2px;
    color: #fff;
    overflow: hidden;
    margin: 0;
}
h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: #000 3px 3px;
    z-index: 80;
    left: 260px;
    font-size: 1.2em;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    margin: 0;
    font-weight: 400;
    width: 514px;
    height: 28px;
    overflow: hidden;
    text-align: center;
}
h2 {
    font-weight: 400;
}
#mainLayer, #popupLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#mainLayer {
    z-index: 1;
}
#popupLayer {
    z-index: 2;
}
.popup {
    width: 500px;
    background: #fff;
    height: auto;
    color: #000;
    padding: 20px;
    position: absolute;
    left: 130px;
    top: -600px;
    transition: all 0.4s;
    text-shadow: none;
}
.popup.active {
    top: 50px;
}
.popup h2 {
    margin-top: 0;
}
.popup .chooseUser {
    min-height: 250px;
}
.popup .user {
    float: left;
    padding: 20px 20px 10px;
}
.popup .user.focus {
    background: #ccc;
}
.popup .user img {
    width: 120px;
    float: left;
}
.popup .user .name {
    float: left;
    clear: both;
    text-align: center;
    width: 120px;
}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
}
#overlay.active {
    display: block;
}
#container {
    transition: all 0.6s;
    background: #2343CC;
    position: absolute;
    left: 0;
    top: -460px;
    width: 100%;
    height: 460px;
}
body.appReady #container {
    top: 0;
}
#big-picture {
    transition: background 0.3s;
    width: 420px;
    height: 315px;
    left: 300px;
    position: absolute;
    top: 90px;
    background-position: 50%;
    border: solid 3px #fff;
}
#big-picture.favorite::after {
    display: block;
    width: 60px;
    height: 60px;
    content: " ";
    background: url(../img/favorite.png) no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    right: -30px;
    top: -30px;
}
#informations {
    height: 100%;
    background: #FF0000;
    width: 220px;
    left: -242px;
    position: absolute;
    top: 0;
    z-index: 100;
    transition: all 0.6s;
}
body.appReady #informations {
    left: 0;
}
#informations div#current-system {
    width: 186px;
    height: 80px;
    background: blue;
    margin-top: 60px;
    position: relative;
    background-size: 100%;
}
#informations div#current-system.nes {
    background: url(../img/logos/nes.png) no-repeat;
    background-size: 100%;
}
#informations div#current-system.snes {
    background: url(../img/logos/snes.jpg) no-repeat;
    background-size: 100%;
    height: 154px;
}
#informations div#current-system.n64 {
    background: url(../img/logos/n64.jpg) no-repeat;
    background-size: 100%;
    height: 172px;
}
#informations div#current-system.gb {
    background: url(../img/logos/gameboy.jpg) no-repeat;
    background-size: 100%;
}
#informations div#current-system.md {
    background: url(../img/logos/megadrive1.png) no-repeat;
    background-size: 100%;
}
#informations div#current-system.ms {
    background: #fff url(../img/logos/mastersystem.png) no-repeat;
    background-size: 100%;
    height: 60px;
}
#informations div#current-system.mame {
    background: url(../img/logos/mame.png) no-repeat;
    background-size: 100%;
}
#informations div#current-system.dos {
    background: url(../img/logos/dos.png) no-repeat;
    background-size: 100%;
    height: 186px;
}
#informations div#current-system.scummvm {
    background: url(../img/logos/scummvm.png) no-repeat;
    background-size: 100%;
}
#informations div#current-system.residualvm {
    background: url(../img/logos/residualvm.png) no-repeat;
    background-size: 100%;
}
#informations div#current-system.fav {
    background: url(../img/favorite.png) no-repeat 50% 50%;
    background-size: 45%;
}

#informations div#current-system h2 {
    font-size: 1em;
    position: absolute;
    top: -46px;
    text-align: center;
    width: 100%;
}

#informations div#current-image {
    border: solid 3px #fff;
    transition: all 0.4s;
    width: 180px;
    height: 112px;
    background: transparent;
    background-size: 100%;
    position: absolute;
    top: 10px;
    left: 20px;
    margin-left: 0;
    margin-top: 0;
}
#informations p, #informations div {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
}
#informations .label {
    text-transform: uppercase;
    font-weight: 600;
}
#informations #game-type {
    width: 100px;
    height: 100px;
    transition: all 0.3s;
    background: url(../img/icons/Arcade_Astrocity.gif) 0 0 no-repeat;
}
#informations #game-type.dos {
    background: url(../img/icons/msdos.png) 0 0 no-repeat;
}
#informations #game-type.scummvm {
    background: url(../img/icons/scummvm.png) 0 0 no-repeat;
}
#informations #game-type.nes {
    background: url(../img/icons/Nes.gif) 0 0 no-repeat;
}
#informations #game-type.snes {
    background: url(../img/icons/Snes2_b.gif) 0 0 no-repeat;
}
#informations #game-type.n64 {
    background: url(../img/icons/N64.gif) 0 0 no-repeat;
}
#informations #game-type.atarist {
    background: url(../img/icons/st.png) 0 0 no-repeat;
}
#informations #game-type.md {
    background: url(../img/icons/MegaDrive2.gif) 0 0 no-repeat;
}
#informations #game-type.ms {
    background: url(../img/icons/Sms_b.gif) 0 0 no-repeat;
}
#informations #game-type.gb {
    background: url(../img/icons/GbLight01.gif) 0 0 no-repeat;
}

#informations #controls {
    position: absolute;
    top: 540px;
    left: 0;
    margin-left: 0;
}

#informations #controls #sound {
    width: 32px;
    height: 27px;
    background: url(../img/icons/novolume.png) 0 0 no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#informations #controls #sound.enabled {
    background: url(../img/icons/volume.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

#border {
    z-index: 100;
    position: absolute;
    top: 0;
    left: -22px;
    width: 22px;
    height: 100%;
    background: url(../img/border.png) 0 0 repeat-y;
    transition: all 0.6s;
}
body.appReady #border {
    left: 220px;
}
#footer {
    position: absolute;
    width: 800px;
    background: #EEEE00;
    height: 140px;
    bottom: 0;
    left: 800px;
    transition: all 0.6s;
}
body.appReady #footer {
    left: 0;
}
.gamesWrapper {
    position: absolute;
    bottom: 5px;
    left: 46px;
    padding: 0 0;
    transition: all 0.3s;
    overflow: hidden;
    height: 130px;
    width: 150%;
    z-index: 10;
}
.game {
    z-index: 10;
    position: relative;
    cursor: pointer;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 120px;
    top: 0;
    left: 0;
    border: solid 3px #fff;
    transition: all 0.1s;
    margin: 0 12px;
    opacity: 1;
    display: none;
}
body.appReady .game {
    display: block;
}
.game.focus {
    opacity: 0;
    transform: scale(3);
}
.game h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: #000 2px 2px;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}



.buttons, .axes {
  padding: 1em;
}
.button {
  padding: 1em;
  border-radius: 20px;
  border: 1px solid black;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
  background-size: 0% 0%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.pressed {
  border: 1px solid red;
}
